/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: darkslateblue;
    color: white;
}

.joke-box {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-size: 16px;
    text-align: center;
}

.subtitle {
    opacity: 25;
    font-size: 2em;
    font-family: 'Great Vibes', cursive;
}

.app-title {
    font-size: 3em;
    font-family: 'Abril Fatface', cursive;
    font-weight: normal;
}

.joke-text {
    font-size: 1.5em;
}

.newJokeButton {
    background-color:darkgoldenrod;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
  }